[Unit]
Description=lighthouse-validator
After=syslog.target network.target

[Service]
User={{ lighthouse_user }}
Group={{ lighthouse_group }}
Environment=HOME=/home/{{ lighthouse_user }}
Type=simple
ExecStart=/bin/sh -c "{{ lighthouse_current_dir }}/lighthouse vc {{ _lighthouse_validator_internal_cmdline_args }}"
ExecStartPost=/bin/sh -c "/bin/sleep 5 && /bin/chmod 644 {{ lighthouse_log_dir }}/validator.log"
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s
WorkingDirectory={{ lighthouse_current_dir }}
{% if lighthouse_validator_limit_no_file %}
LimitNOFILE={{ lighthouse_validator_limit_no_file }}
{% endif %}

[Install]
WantedBy=multi-user.target
